.center {
    margin: 100px auto 0;
    width: 900px;
    height: 670px;
}

.center input[type=text] {
    text-indent: 10px;
    background: #F5F5DC;
    border-radius: 7px;
    height: 35px;
    width: 250px;
    outline: none;
    border: 1px solid #e1e4e8;
}

.center .center_top {
    height: 80px;
    border-bottom: 1px solid #e1e4e8;
}

.center .center_top h2 {
    color: #7D9EC0;
    font-size: 26px;
}

.center .center_top p {
    color: #8B8878;
}

.center .center_top2 {
    height: 75px;
    margin-top: 25px;
}

.center .center_top2 .div {
    margin-right: 45px;
    float: left;
}

.center .center_top2 p {
    margin-left: 12px;
    margin-bottom: 15px;
    font-size: 20px;
}

.center .center_top2 button {
    height: 35px;
    border: 1px solid #e1e4e8;
    background-color: #F5F5DC;
    color: #24292e;
}

.center .center_top2 img {
    height: 23px;
    width: 23px;
}

.center .center_top3 {
    margin-top: 25px;
}

.center .center_top3 p {
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}

.center .center_top4 {
    height: 132px;
    margin-top: 25px;
    border-bottom: 1px solid #e1e4e8;
}

.center .center_top5 {
    margin-top: 25px;
}

.center .center_top4 input[type=radio] {
    width: 15px;
    height: 15px;
}

.center .center_top5 input[type=submit] {
    background: #28B644;
    border: none;
    border-radius: 7px;
    width: 200px;
    height: 42px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}

.center .center_top4 img {
    margin-left: 10px;
}

.createProject {
    margin: 100px auto 0;
    width: 900px;
    margin-bottom: 80px;
}

.createProject .create_top span {
    color: #6F6594;
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.create_second {
    margin-top: 25px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.createProject .create_second div {
    padding: 5px 10px;
    color: rgba(16, 16, 16, 0.9);
    border: 1px solid rgba(187, 187, 187, 0.6);
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    margin-right: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.create_thrid, .create_four, .create_five{
    margin-top: 15px;
}

.create_thrid span {
    color: rgba(55, 49, 76, 0.8);
}

.create_thrid div {
    padding: 5px 10px;
    color: #37314C;
    border: 1px solid rgba(187, 187, 187, 0.6);
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 1px;
    margin-left: 10px;
}

.create_four p, .create_five p, .create_six p, .create_seven p{
    color: rgba(16, 16, 16, 0.8);
    font-weight: bold;
    font-size: 18px;
}

.create_four .four_left textarea {
    resize: none;
    width: 81%;
    height: 100px;
    font-size: 15px;
    color: #37314C;
    padding: 5px 8px;
}

.create_four .four_right textarea {
    resize: none;
    width: 335px;
    height: 50px;
    padding: 5px 8px;
    font-size: 13px;
    color: #37314C;
    display: block;
    margin-bottom: 20px;
}

.create_four .four_left {
    width: 50%;
    float: left;
}

.create_four .four_right {
    width: 50%;
    float: left;
}

.four_right .btn.savebtn {
    background: #FFE2B7;
    color: #101010;
    width: 80px;
}

.four_right .btn.cancelbtn {
    background: #B4B3B2;
    color: #ffffff;
    width: 80px;
}

.four_right span {
    margin: 0 20px;
}

.four_right .btn:focus {
    border: none;
    outline: none;
}

.create_five .five_left span {
    margin-right: 40px;
    color: #101010;
    width: 70px;
    display: inline-block;
}

.create_five .btn.more {
    background: #FAEBD5;
    color: #0C0B0B;
    margin-right: 50px;
    width: 60px;
    border: 1px solid rgba(187, 187, 187, 0.6);
}

.create_five .btn.use {
    background: #2C3250;
    color: #ffffff;
    width: 60px;
    border: 1px solid rgba(187, 187, 187, 0.6);
}
.create_five .btn:focus {
    border: none;
    outline: none;
}
.create_five .five_left div{
    margin-bottom: 16px;
}
.create_five .five_left>a{
    background: #F8F4F4;
    display: block;
    margin-top: 15px;
    width: 100%;
    border: 1px solid rgba(187, 187, 187, 0.6);
}
.create_five .five_left>a:hover{
    background: #F8F4F4;
}
.create_five .five_left{
    padding-left: 15px;
    float: left;
}
.create_five span:first-child{
    width: 120px;
}
.create_five .five_right{
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid rgba(187, 187, 187, 0.6);
    float: left;
}
.create_five .five_right p{
    font-size: 14px;
}
.five_right>div{
    margin-bottom: 15px;
}
.five_right input{
    font-size: 12px;
}
.create_six, .create_seven{
    margin-top: 30px;
}
.create_six #uploadlabel{
    display: inline-block;
    line-height: 30px;
    margin: 0 7px 0 30px;
    text-align: center;
    width: 95px;
    height: 30px;
    color: white;
    background: #2C3250;
    letter-spacing: 1px;
    font-weight: normal;
}
.create_six>div, .create_seven textarea{
    resize: none;
    width: 100%;
    height: 350px;
    background: #FAFAFA;
    margin: 15px 0;
}
.create_six .form-control>div{
    margin-top: 15px;
    display: none;
}
.create_six button, .create_seven button{
    text-align: center;
    background: #2C3250;
    width: 80px;
    height: 35px;
    color: #ffffff;
    line-height: 35px;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-left: 20px;
    overflow: auto;
}
.create_six button:focus, .create_seven button:focus{
    outline: none;
    border: none;
}
.create_seven button{
    margin-top: 30px;
    float: right;
    width: 100px;
}
.create_seven .upload{
    background: #28B644;
    margin-left: 70px;
}
.create_seven .cancel{
    background: #2C3250;
    margin-left: 50px;
}
.create_five .files{
    background: #f1f8ff;
    padding: 20px;
}
.create_five .files>div{
    border: 1px solid rgba(187, 187, 187, 0.5);
    padding: 10px;
}
.create_five .files>div img{
    width: 25px;
    vertical-align: middle;
}

.create_five .files>div span{
    vertical-align: middle;
    margin-left: 30px;
    font-size: 20px;
    color: #2C3250;
}
.create_five .files>div span:hover{
    text-decoration: underline;
}

.create_nine{
    margin-top: 30px;
}
.create_nine p{
    color: rgba(16, 16, 16, 0.8);
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
}
.create_nine span{
    font-weight: bold;
    font-size: 18px;
    color: rgba(16, 16, 16, 0.8);
    margin-right: 10px;
}
.create_nine span:hover{
    text-decoration: underline;
}
.create_five .files{
    color: #2C3250;
    font-size: 18px;
    letter-spacing: 1px;
}
.repertoryname:hover{
    text-decoration: underline;
}