* {
    margin: 0;
}

.login {
    padding: 4em;
    background: #141A36;
}

.login h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
}

.login h3 {
    margin-top: 27px;
    color: #FAEBD5;
    text-align: center;
    font-size: 1.5em;
}

.login .loginform {
    width: 40%;
    margin: 27px auto;
    background: #FCEDD7;
    padding: 2em;
    border-radius: 20px;
}

.login .loginform2 {
    width: 40%;
    margin: 27px auto;
    background: #FCEDD7;
    padding: 1.2em;
    border-radius: 20px;
}

.loginform .form-group input {
    height: 40px;
}

.loginform .form-group label {
    color: #101010;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.loginform .form-group span {
    margin-bottom: 10px;
    color: #121836;
    font-weight: bold;
    font-size: 0.9em;
}

.loginform .form-group .loginsubmit {
    background: #28B644;
    color: #FFFFFF;
    font-size: 1.3em;
    margin-top: 30px;
    border-radius: 9px;
}

.loginform2 h4 {
    color: #949191;
    text-align: center;
    font-size: 1.6em;
}

.loginform2 p {
    color: #303347;
    text-align: center;
    font-size: 1.3em;
}

.loginform2 a:hover {
    text-decoration: none;
}

.login .loginbottom {
    text-align: center;
    margin-top: 60px;
}

.loginbottom a {
    color: #FFFFFF;
    text-decoration: underline;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2em;
}

.err {
    margin-top: 27px;
    color: #DC143C;
    font-size: 1.2em;
}

@media screen and (max-width: 1000px) {
    .login .loginform {
        width: 60%;
        margin: 27px auto;
        background: #FCEDD7;
        padding: 2em;
        border-radius: 20px;
    }

    .login .loginform2 {
        width: 60%;
        margin: 27px auto;
        background: #FCEDD7;
        padding: 1.2em;
        border-radius: 20px;
    }
}

.reg_head {
    background: #FEF8EF;
    color: #211F1F;
    font-weight: bold;
    font-size: 2.1em;
    padding: 0.7em 200px;
    border: 1px solid #BBBBBB;
}

.reg_info {
    color: #5B607A;
    font-size: 1em;
    margin: 25px 0;
    padding-left: 200px;
}

.reg_start {
    padding-left: 200px;
}

.reg_start img {
    width: 36px;
}

.reg_img {
    padding-left: 10px;
}

.start.active {
    border: 1px solid #6C648B;
}

.start {
    cursor: pointer;
    padding: 10px 0 0;
    border: 1px solid #BBBBBB;
    width: 20%;
    float: left;
    margin-right: 2px;
}

.start .step.active {
    color: #192B8B;
}

.start .step {
    margin: 0;
    color: #8A8B90;
    font-size: 1.2em;
    margin-bottom: 3px;
}

.start p {
    font-size: 0.8em;
}

.start .pactive {
    color: #8A8B90;
}

@media screen and (max-width: 1377px) {
    .start.active {
        border: 1px solid #6C648B;
    }

    .start {
        padding: 10px 0 0;
        border: 1px solid #BBBBBB;
        width: 26%;
        float: left;
        margin-right: 2px;
    }

    .reg_img {
        padding-left: 7px;
    }
}

@media screen and (max-width: 1110px) {
    .start.active {
        border: 1px solid #6C648B;
    }

    .start {
        padding: 10px 0 0;
        border: 1px solid #BBBBBB;
        width: 32%;
        float: left;
        margin-right: 2px;
    }

    .reg_img {
        padding-left: 7px;
    }
}

.reg_thrid {
    padding-left: 200px;
    color: #5B607A;
    font-size: 1.7em;
    margin: 35px 0 25px;
}

.reg_form {
    position: relative;
    padding-left: 200px;
}

.reg_form label {
    font-size: 1.3em;
    color: #1D1C1C;
    margin-bottom: 15px;
}

.reg_form input {
    width: 30%;
}

.reg_form span {
    color: #101010;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 5px;
    width: 31%;
}

.reg_form .form_info {
    color: #7A6D6D;
    width: 31%;
    margin-top: 26px;
    font-size: 1.1em;
}

.reg_form .regit {
    background: #69B60F;
    color: #F8FAF8;
    margin-top: 40px;
    height: 40px;
    font-size: 1.3em;
    width: 20%;
    border-radius: 9px;
}

.footer {
    margin-top: 100px;
    padding: 1em;
    background: #F4F4F6;
    text-align: center;
}

.footer .footbottom {
    width: 70%;
    height: 1px;
    margin: 15px auto 0;
    background-color: #212436;
}

.reg_form .reg_love {
    position: absolute;
    left: 735px;
    top: 10px;
}

.reg_love div {
    text-align: center;
    border: 1px solid #BBBBBB;
    padding: 16px;
}

.reg_love .love_first {
    color: #7A7373;
    font-size: 1.2em;
    font-weight: bold;
}
.reg_love .love_second {
     color: #101010;
     font-size: 1.2em;
 }
.reg_love .love_thrid img{
    width: 15px;
    margin-right: 18px;
}
.reg_love .love_thrid{
    padding-left: 27px;
    text-align: left;
    color: #101010;
    font-size: 1em;
}
@media screen and (max-width: 1225px){
    .reg_form .reg_love {
        left: 600px;
    }
}

